# 5 STRUCTURED TYPES, MUTABILITY, AND HIGHERORDER FUNCTIONS

In this chapter, we introduce three structured types: 
<ul>
<li><b style="color:blue">Tuple</b>, is a rather <b>simple generalization of str</b>. 
<li>The other two, <b style="color:blue">list and dict</b>, are more interesting — in part because they are <b style="color:blue">mutable</b>.
</ul>

# 5.1 Tuples

tuples are <b style="color:blue">ordered sequences</b> of elements. The difference is that the elements of a tuple need not be characters. The individual elements can be of <b style="color:blue">any type</b>, and need <b style="color:blue"> not be of the same type</b> as each other.

Literals of type tuple are written by enclosing a <b style="color:blue">comma-separated</b> list of elements <b style="color:blue">within parentheses</b>

In [9]:
t1 = () # empty tuple
t2 = (1, 'two', 3) #  1 any type; 2 not be of the same type as each other.
print(t1)
print(t2)

()
(1, 'two', 3)

<hr style="color:blue"/>
Since parentheses are used to <b style="color:blue">group expressions</b>, (10) is merely a verbose way to write the integer 10. 
<p>To denote <b  style="color:blue">the singleton tuple</b> containing this value, we write (10 <strong  style="color:red">,</strong>)

only1=(10)
tsingleton=(10,)  # comma-separated 

print(only1)
print(type(only1))

print('\nThe singleton tuple containing this value')
print(tsingleton)
print(type(tsingleton))

<b>Like string</b> ,Tuples can be <b style="color:blue">concatenated</b>, <b style="color:blue">indexed</b>, and <b style="color:blue">sliced</b>.(indexing <strong style="color:blue">starts at 0</strong>)

In [1]:
t1 = (1, 'two', 3)
t2 = (t1, 3.25)   #  any type,tuples can contain tuples
print(t2)
print(t1 + t2)  # + concatenated
print((t1 + t2)[3]) # [3] indexed -tuple as always in Python, indexing starts at 0
print((t1 + t2)[2:5]) # [2:5] sliced

((1, 'two', 3), 3.25)
(1, 'two', 3, (1, 'two', 3), 3.25)
(1, 'two', 3)
(3, (1, 'two', 3), 3.25)

A <b  style="color:blue">for</b> statement can be used to <b style="color:blue">iterate over the elements</b> of a tuple.

In [1]:
def findDivisors (n1, n2):
    """Assumes that n1 and n2 are positive ints
       Returns a tuple containing all common divisors of n1 & n2"""
    
    divisors = () #the empty tuple
    
    for i in range(1, min (n1, n2) + 1):
        if n1%i == 0 and n2%i == 0:      # common divisors
            divisors = divisors + (i,)  # Note：1) comma-（i,)-Tuple; 2) +  concatenated 
    
    return divisors

divisors = findDivisors(20, 100)
print('common divisors:',divisors)
total = 0
for d in divisors:  #  iterate over the elements of a tuple :in 
    total += d
print('sum: ',total)

common divisors: (1, 2, 4, 5, 10, 20)
sum:  42

# 5.1.1 Sequences and Multiple Assignment

If you know the <b>length of a sequence</b> (e.g., a tuple or a string), it can be convenient to use Python’s <b>multiple assignment</b> statement to extract the individual elements.

In [ ]:
x, y = (3, 4)
a, b, c = 'xyz'
print('x=',x,' y=',y)
print('a=',a,' b=',b,' c=',c)

This mechanism is particularly convenient when used in <b>conjunction with functions that return fixed-size sequences</b>.

In [6]:
def findExtremeDivisors(n1, n2):
    """Assumes that n1 and n2 are positive ints
       Returns a tuple containing the smallest common
       divisor > 1 and the largest common divisor of n1
       and n2
    """
    minVal, maxVal = None, None #multiple assignment statement
    for i in range(2, min(n1, n2) + 1):
        if n1%i == 0 and n2%i == 0:
            if minVal == None or i < minVal:
                minVal = i
            if maxVal == None or i > maxVal:
                maxVal = i
    return (minVal, maxVal)  #   return fixed-size sequences:tuple

In [5]:
# multiple assignment statement conjunction with functions that return fixed-size sequences.
minDivisor, maxDivisor = findExtremeDivisors(100, 200)  
print('minDivisor=',minDivisor)
print('maxDivisor=',maxDivisor)

minDivisor= 2
maxDivisor= 100

In [7]:
def findExtremeDivisors(n1, n2):
    """Assumes that n1 and n2 are positive ints
       Returns a tuple containing the smallest common
       divisor > 1 and the largest common divisor of n1
       and n2
    """
    minVal, maxVal = None, None #multiple assignment statement
    for i in range(2, min(n1, n2) + 1):
        if n1%i == 0 and n2%i == 0:
            if minVal == None or i < minVal:
                minVal = i
            if maxVal == None or i > maxVal:
                maxVal = i
    
    divisors = (minVal,maxVal)
    return  divisors  #   return fixed-size sequences

In [11]:
# tuple 
divisors = findExtremeDivisors(100, 200)  
print(divisors)
print('minDivisor=', divisors[0])
print('maxDivisor=', divisors[1])

(2, 100)
minDivisor= 2
maxDivisor= 100

# 5.2 Lists and Mutability

A list is an <b>ordered sequence</b> of values, where each value is <b>identified by an index </b>. 

The syntax for expressing literals of type list is similar to that used for tuples; the difference is that we use <b>square brackets</b> rather than parentheses.

In [12]:
L = ['I did it all', 4, 'love']  # square brackets
for i in range(len(L)):
    print(L[i])

I did it all
4
love

The <b>empty list</b> is written as <b>[]</b>

<p> <b>Singleton lists</b> are written <b>without comma</b> before the closing bracket.

In [14]:
Lempty=[]   #empty list
Lonly1=[10] # singleton list: without comma
print('empty list:',Lempty)
print(type(Lonly1))
print(Lonly1)

empty list: []
<class 'list'>
[10]

Square brackets are used for 
<ol>
<li>literals of type list
<li>indexing into lists, and
<li>slicing lists
</ol>
<p>can lead to some visual confusion. For example:

In [15]:
[1,2,3,4]  # list
[1,2,3,4][1:3] # slicing list
[1,2,3,4][1:3][1] # licing list,then indexing into sliced list

3

<hr style="height:2px;color:blue"/>
# lists are mutable

<p>Lists differ from tuples in one hugely important way:lists are mutable
<p><b>tuples and strings</b> are immutable

<p>objects of immutable types cannot be modified.
<p>objects of mutable types can be modified after they are created.

The distinction between <b>mutating</b> an object and <b>assigning an object to a variable</b>

In [16]:
Techs = ['MIT', 'Caltech']
Ivys = ['Harvard', 'Yale', 'Brown']

In [17]:
Univs = [Techs, Ivys]
Univs1 = [['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown']]

The three print statements

In [18]:
print('Univs =', Univs) 
print('Univs1 =', Univs1)
print(Univs == Univs1)

Univs = [['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown']]
Univs1 = [['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown']]
True

It appears as if Univs and Univs1 are bound to the same value. But appearances can be deceiving. As the following picture illustrates, Univs and Univs1 are bound to quite different values.
<img src="./img/fig52.PNG"/>

That Univs and Univs1 are bound to different objects can be verified using the built-in Python function <b style="color:blue">id</b>, which <b style="color:blue">returns a unique integer identifier</b> for an object. 
<p>This function allows us to <b>test for object equality</b>.

In [19]:
print(Univs == Univs1) # test value equality
print(id(Univs) == id(Univs1)) #test object equality
print('Id of Univs =', id(Univs))
print('Id of Univs1 =', id(Univs1))

True
False
Id of Univs = 15421704
Id of Univs1 = 15396552

The <b>elements of Univs</b> are <b>not copies of the lists</b> to which Techs and Ivys are bound, but are rather the <b> themselves</b>.
<p>The <b>elements of Univs1</b> are lists that contain <b>the same elements</b> as the lists in Univs,but they are <b>not the same lists</b>.

In [22]:
print('Ids of Techs, Univs[0]', id(Techs), id(Univs[0]))
print('Ids of Ivys, Univs[1]', id(Ivys), id(Univs[1]))
print('Ids of Univs[0] and Univs[1]', id(Univs[0]), id(Univs[1]))
print('Ids of Univs1[0] and Univs1[1]', id(Univs1[0]), id(Univs1[1]))

Ids of Techs, Univs[0] 92405576 92405576
Ids of Ivys, Univs[1] 15388616 15388616
Ids of Univs[0] and Univs[1] 92405576 15388616
Ids of Univs1[0] and Univs1[1] 15421512 92464584

# Why does this matter? It matters because lists are mutable

In [30]:
Techs.append('RPI') #through the variable Techs

The append method has a side effect. Rather than create a new list, it <b>mutates the existing list Techs</b> by adding a new element, the string 'RPI', to the end of it.
<img src="./img/fig53.PNG"/>

Univs still contains the same two lists, but the contents of one of those lists has been changed

In [24]:
print('Univs =', Univs)
print('Univs1 =', Univs1)

Univs = [['MIT', 'Caltech', 'RPI'], ['Harvard', 'Yale', 'Brown']]
Univs1 = [['MIT', 'Caltech'], ['Harvard', 'Yale', 'Brown']]

What we have here is something called aliasing. 
There are two distinct paths to the same list object.
<p>One path is through the variable Techs and
<p>the other through the first element of the list object to which Univs is bound. 

<p>One can mutate the object via either path, and the effect of the mutation will be visible through both paths. 

<p> This can be convenient, but it can also be treacherous. Unintentional aliasing leads to programming errors that are often enormously hard to track down.

In [36]:
Univs[0].append('SEU') # through the i element of  Univs 
Univs[1].append('Cornell')
print('Techs =', Techs)
print('Ivys=', Ivys)
print('Univs =', Univs)

Techs = ['MIT', 'Caltech', 'RPI', 'SEU', 'RPI', 'SEU', 'SEU', 'SEU', 'SEU']
Ivys= ['Harvard', 'Yale', 'Brown', '11own', 'Cornell', 'Cornell']
Univs = [['MIT', 'Caltech', 'RPI', 'SEU', 'RPI', 'SEU', 'SEU', 'SEU', 'SEU'], ['Harvard', 'Yale', 'Brown', '11own', 'Cornell', 'Cornell']]

<h4> a for statement can be used to iterate over the elements of a list.</h4>

In [37]:
for e in Univs:
    print('Univs contains', e) # list 
    print('   which contains')
    for u in e:
        print('    ', u)   # the elements of a list.

Univs contains ['MIT', 'Caltech', 'RPI', 'SEU', 'RPI', 'SEU', 'SEU', 'SEU', 'SEU']
   which contains
     MIT
     Caltech
     RPI
     SEU
     RPI
     SEU
     SEU
     SEU
     SEU
Univs contains ['Harvard', 'Yale', 'Brown', '11own', 'Cornell', 'Cornell']
   which contains
     Harvard
     Yale
     Brown
     11own
     Cornell
     Cornell

In [28]:
L1 = [1,2,3]
L2 = [4,5,6]
L3 = L1 + L2
print('L3 =', L3)
L1.extend(L2)
print('L1 =', L1)
L1.append(L2)
print('L1 =', L1)

L3 = [1, 2, 3, 4, 5, 6]
L1 = [1, 2, 3, 4, 5, 6]
L1 = [1, 2, 3, 4, 5, 6, [4, 5, 6]]

Notice that
<p>the operator + does not have a side effect. It creates a new list and returns it. 
<p>In contrast, extend and append each mutated L1.

Figure 5.4 contains short descriptions of some of the methods associated with lists. Note that all of these except count and index mutate the list.
<img src="./img/fig54.PNG"/>

# 5.2.1 Cloning

# 5.2.2 List Comprehension

# 5.3 Functions as Objects

# 5.4 Strings, Tuples, and Lists

# 5.5 Dictionaries

Objects of type dict (short for dictionary) are like lists except that “indices” need not be integers—they can be values of any immutable type. Since they are not ordered, we call them keys rather than indices. Think of a dictionary as a set of key/value pairs. Literals of type dict are enclosed in  <b style="color:blue">curly braces</b>, and each element is written as a key followed by a colon followed by a value.

The entries in a dict are unordered and cannot be accessed with an index

In [2]:
monthNumbers = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5,
1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May'}

# The entries in a dict are unordered and cannot be accessed with an index
print('The third month is ' + monthNumbers[3])  

dist = monthNumbers['Apr'] - monthNumbers['Jan'] # get value from key
print('Apr and Jan are', dist, 'months apart')

The third month is Mar
Apr and Jan are 3 months apart

The method keys returns a list containing the keys of a dictionary. The order in which the keys appear is not defined.

In [15]:
print(monthNumbers.keys()) # The order in which the keys appear is not defined.

dict_keys([1, 2, 3, 'Apr', 'May', 'Jan', 'Feb', 5, 4, 'Mar'])

When a for statement is used to iterate over a dictionary, the value assigned to the iteration variable is a key, not a key/value pair.

In [24]:
keys = []
for e in monthNumbers:
    keys.append(e) # the value s a key， not a key/value pair.
print(keys)

[1, 2, 3, 'Apr', 'May', 'Jan', 'Feb', 5, 4, 'Mar']

In [12]:
keys = []
for e in monthNumbers:
    keys.append(e) # the value s a key， not a key/value pair.
keys.sort()     #python3 不能执行，和书中不同，两种不同类型了，怎么排序？ unorderable types: str() < int()
print(keys)

TypeError: unorderable types: int() < str()